@import '../../styles/_shared.scss';

.container {
  @include LoginAndRegisterContainer;
  position: relative;

  // forgot login link
  a {
    margin-top: 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: #1e7acb;

    &:hover {
      color: rgb(0, 58, 145);
    }
  }
}

.heading {
  @include Heading;
}

.avatar {
  position: absolute;
  right: 10px;
  top: 80px;
  width: 40px;
  height: 40px;
}

.input {
  @include Input;
  margin-top: 1rem;
}

.button {
  @include Button;
  margin-top: 1.5rem;
}

.text {
  font-size: 1.2rem;
  margin-top: 1rem;

  a {
    color: #1e7acb;
    text-decoration: underline;

    &:hover {
      color: rgb(0, 58, 145);
    }
  }
}
